/*
 * Custom CSS for Expat Marketplace app 
 *
 */

html {
	min-height: 100%;
	position: relative;
}

body > .container {
	padding-bottom: 70px;
}

h1 {
	text-align: center;
	margin-bottom: .1em;
	margin-top: .1em;
}

h2 {
	font-size: 1.6em;
	margin-bottom: .1em;
	margin-top: .1em;
}

p {
	margin: .2em 0;
}
.center {
	text-align: center;
}

/* smaller text */
.smaller {
	font-size: .7em;
	text-align: left;
}

/* Center images */
img.center {
	display: block;
	margin: 0 auto;
}

footer > nav {
	color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #003D5C;
}

footer > nav > .container {
	padding: 0;
}

.nav-justified > li > a {
	color: #FFFFFF;
	margin-bottom: 0;
	padding: 4px 0;
}
.nav-justified > li {
    display: table-cell; 
    width: 1%
}
.navbar-fixed-bottom {
    border-width: 0;
}
.nav>li.nav-username {
    font-weight: 500;
    padding: 10px 15px;
}
.nav>li>a:focus, .nav>li>a:hover {
	color: #003D5C;
    text-decoration: none;
    background-color: #FFFFFF;
}

/* Navbar top and bottom */
.navbar-blue {
	background-color: #003D5C;
	color: #FFFFFF;
    margin-bottom: 12px;
}
.navbar-blue .navbar-toggle {
    background-color: #FFFFFF;
    color: #003D5C;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1.2em;
    padding: 4px 10px;
}
.navbar-blue .navbar-toggle:hover {
    background-color: #003D5C;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-variant: small-caps;
}

.navbar a {
	color: #f3f3f3;
}
.navbar a:hover, .navbar a:focus {
	color: #f3f3f3;
    text-decoration: none;
}

.alert {
    padding: 5px;
    margin-bottom: 10px;
}

.panel-group {
    margin-bottom: 0px;
}

.breadcrumb {
    margin-bottom: 6px;
}

.total-price {
    font-size: 1.3em;
    font-weight: bold;
}

.product-row {
    position: relative;
    min-height: 220px;
}

.product-title {
    font-size: 1.5em;
    font-weight: 200;
    position: absolute;
}

/* table markup */
table {
    color: black;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: 17px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: .5em;
}

table thead tr {
    background: #fdfdfd;
}

table thead th {
	border-right: 1px solid #b4b4b4;
}

table thead th:first-child {
	border-radius: 0.5em 0 0 0;
}

table thead th:last-child {
	border-right: none;
	border-radius: 0 0.5em 0 0;
}

table tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 2px;
}
         
table tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:last-child td:last-child {
    border-radius: 0 0 0.5em 0.5em;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 0.5em;
}

@media (min-width: 768px) {
    .nav>li.nav-username {
        padding: 15px 15px;
    }
}